* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.lg-screen {
  display: none;
}

.gray {
  color: #525252;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 54px;
  color: #3c1c0b;
  line-height: 51px;
}

h2 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  color: #3c1c0b;
}

h3 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 27px;
}

h4 {
  font-family: "Merriweather", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 21px;
  color: #525252;
  padding-bottom: 6px;
}

a {
  text-decoration: none;
  color: #000000;
}

ul li {
  list-style: none;
}

.btn {
  padding: 9px 21px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 6px 6px 15px -6px #7c7c7c;
}

.brown-btn {
  background-color: #a2552e;
  color: #ffffff;
  border: 1px solid #a2552e;
}

.white-btn {
  background-color: #ffffff;
  color: #3c1c0b;
  border: 1px solid #a2552e;
}

.brown-btn:hover {
  background-color: #ffffff;
  color: #3c1c0b;
  border: 1px solid #a2552e;
}

.white-btn:hover {
  background-color: #a2552e;
  color: #ffffff;
}

.fa-close {
  cursor: auto;
}

/*/////////////////////////////////////////////////////////*/
/* HERO */
.hero-section {
  padding: 3% 0 9% 0;
  width: 100%;
  background-image: url(../img/hero.png);
  background-size: cover;
}

.hero-content {
  width: 84%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 15%;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: self-start;
}

.contact-info ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #3c1c0b;
}

.contact-info ul a {
  color: #000000;
  font-size: 15px;
}

/*//////////////////////////////////*/
/* Contact List Popup Styles */
.contact-list {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 90px;
}

.person {
  display: flex;
  gap: 30px;
  align-items: center;
}

.contact-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.contact-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.details li a {
  color: white;
  line-height: 24px;
}

.details a:hover {
  color: #525252;
  text-decoration: underline;
}

/*/////////////////////////////////////////////////////////*/
/* PRODUCTS SECTION */
.products-section {
  width: 100%;
}

.products {
  width: 84%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 0;
  border-bottom: 1px solid #7c7c7c;
}

.product-image,
.product-description {
  width: 47%;
  display: flex;
  gap: 27px;
  flex-direction: column;
  align-items: self-start;
}

.product-image img {
  border-radius: 2%;
  object-fit: fill;
  width: 100%;
  height: 100%;
}

/*//////////////////////////////////*/
/* MODAL */
.modal {
  display: none;
  position: fixed;
  top: 5%;
  left: 12%;
  z-index: 1;
  width: 75%;
  height: 90vh;
  background-color: #3c1c0b;
  border-radius: 6px;
  box-shadow: 6px 6px 15px 0px #7c7c7c;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1.5% auto;
  border-bottom: #000000 solid 1px;
  padding: 0 0 1.5% 0;
  color: #ffffff;
}

.modal-images {
  width: 75%;
  margin: 0 auto;
  height: 72vh;
}

.fade {
  width: 100%;
  height: 100%;
}

.fade img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.modal-controls {
  position: relative;
  top: -50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 39px;
}

.modal-controls a {
  color: #7c7c7c;
  cursor: pointer;
}

/*/////////////////////////////////////////////////////////*/
/* GALLERY */
.gallery {
  background-color: #3c1c0b;
  padding: 3% 0;
}

.gallery-header h1 {
  color: #ffffff;
  text-align: center;
  word-spacing: 21px;
}

.gallery-images {
  width: 87%;
  margin: auto;
  padding: 1.5% 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 9px;
  justify-content: flex-start;
}

.xs-device {
  width: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 9px;
  justify-content: flex-start;
}

.g-img {
  width: 24%;
  height: 300px;
}

.g-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*/////////////////////////////////////////////////////////*/
/* GET IN TOUCH */
.get-in-touch {
  background-color: #e9e2dd;
  width: 72%;
  margin: 150px auto;
  padding: 72px;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
}

.get-in-touch-info {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

form {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: self-start;
}

form div {
  width: 100%;
}

input,
textarea {
  width: 100%;
  height: 39px;
  border-radius: 6px;
  font-size: 18px;
  padding: 6px 9px;
  background-color: #f5f5f4;
  border: #a2552e 1px solid;
  outline: none;
}

textarea {
  height: 150px;
}

/*/////////////////////////////////////////////////////////*/
/* FOOTER */
footer {
  background-color: #dbcaaa;
}

.footer {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
}

.footer li {
  text-align: center;
}

.footer a {
  color: #3c1c0b;
  font-size: 15px;
}

.footer a:hover {
  color: #000000;
  text-decoration: underline;
}

.footer img {
  width: 12%;
}

.copyright {
  font-weight: 600;
  padding-bottom: 9px;
}

/* NOTICE - TERMS AND SHIPPING */
#notice {
  width: 60%;
  margin: 1.5% auto;
  display: none;
  transition: 3s ease height;
  padding: 3% 0;
  border-top: #3c1c0b solid 1px;
  border-bottom: #3c1c0b solid 1px;
}

.notice-btn a {
  cursor: pointer;
}

#shipping-notice {
  display: block;
}

#terms-notice {
  display: none;
}

#notice p,
#notice li {
  font-size: 13.5px;
}

.notice-title {
  font-size: 15px;
  font-weight: 900;
  padding: 12px 0;
  margin-bottom: 24px;
  border-bottom: 1px #3c1c0b5b solid;
}

ol {
  padding: 6px 21px;
}
